* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}

.page {
  max-width: 800px;
  width: 100%;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.movie {
  text-align: center;
}

.movie img {
  border-radius: 16px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input[type='text'] {
  width: 100%;
}

.sort {
  display: flex;
  align-items: center;
  gap: 8px;
}
